.email-body-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F3;
  margin-right: 5px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
}

.email-body-avatar > .material-icons {
  color: grey;
  background: #F1F1F3;
}

.email-body-sender {
  font-size: 1.4rem;
  letter-spacing: .25px;
  font-weight: bold;
}

.email-body-contact {
  display: flex;
  align-items: center;
}

.email-body-message {
  font-size: 1.6rem;
}

.email-body-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-right: 20px;
}

.email-body-date {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  height: 40px;
}