.side-nav-container {
  min-width: 150px;
}

.side-nav-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #202124;
  text-decoration: none;
  height: 30px;
  font-size: 1.5rem;
  text-transform: capitalize;
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.side-nav-tag:hover {
  background-color: #eaeaec;
}

.side-nav-tag.active {
  color: #d93025;
  background-color: #fce8e6;
  font-weight: bold;
}

.side-nav-tags {
  display: flex;
  border-bottom: 1px solid #eaeaec;
}

@media only screen and (min-width: 600px) {
  .side-nav-tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0px;
  }

  .side-nav-tag {
    margin-top: 5px;
  }
  
  .side-nav-container {
    display: block;
  }
}