.email-list-item-container {
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #eaeaec;
}

.email-list-item-container:hover {
  cursor: pointer;
}

.email-list-item-select {
  cursor: pointer;
  color: #c6c6c6;
  transition: color 0.2s ease;
  margin-right: 5px;
}

.email-list-item-select:hover {
  color: #444;
}

.email-list-item-group {
  width: 90%;
  align-items: center;
}
.email-list-item-group2 {
  display: flex;
  height: 25px;
  align-items: baseline;
}

.email-list-item-group3 {
  overflow: hidden;
}

.email-list-item-sender {
  margin-right: 5px;
}

.email-list-item-subject {
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.email-list-tags {
  display: flex;
}

.email-list-item-content {
  display: flex;
  flex-grow: 1;
}

.email-list-item-dash {
  display: none;
}

.email-list-item-body {
  width: 100px;
}

.email-list-item-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
  color: #5f6368;
  margin-top: 5px;
}

.email-list-item-subject, 
.email-list-item-sender,
.email-list-item-date,
.email-list-item-preview  {
  font-size: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .email-list-item-group {
    display: flex;
  }

  .email-list-item-subject {
    max-width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .email-list-item-sender {
    width: 200px;
  }

  .email-list-item-group3 {
    display: flex;
    align-items: center;
  }

  .email-list-item-preview {
    margin: 0;
  }

  .email-list-item-dash {
    display: inline;
    font-size: 1.6rem;
    margin: 0 5px;
    color: #5f6368;
  }

  .email-list-item-date {
    display: flex;
    align-items: center;
  }
}