html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.material-icons {
  color: #5F6368;
}

.app {
  &-actions {
    float: right;
    margin-left: 14px;
    
    .material-icons {
      margin-right: 10px;
    }
  }

  &-body {
    @media (min-width: 600px) {
      display: flex;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }

  &-compose {
    display: none;
    width: 150px;

    &:before {
      content: '';
      display: block;
      height: 48px;
      min-width: 48px;
      background-image: url('https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 32px;
    }

    @media (min-width: 600px) {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      margin-left: 5px;
      height: 50px;
      min-width: 46px;
      color: #3c4043;
      background-color: white;
      font-weight: 500;
      font-size: 1.5rem;
      letter-spacing: .25px;
      border-radius: 24px;
      padding: 0 10px 0 0;
      box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    }
  }

  &-actions-row {
    padding: 0 15px 15px;
    border-bottom: 1px solid #eaeaec;

    @media (min-width: 600px) {
      display: flex;
      align-items: center;
      padding: 0 0 15px;
    }
  }
}